body {
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.display_input {
  border: 2px solid black;
  height: 20vh;
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 0rem 1rem;
  padding: 10px;
}
.display_output {
  border: 2px solid black;
  height: 20vh;
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 0rem 1rem;
  padding: 10px;
}
button {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 60px;
  border-radius: 5%;
  cursor: pointer;
}
